{{> header}}
<div class="text-center">
    <h1 class="infoBox">Score: 0</h1>
    <p class="playAgain"></p>
    <canvas class="canvas" height="300" width="300" style="background-color: #3e3e3e"></canvas>

</div>

<div style="display: flex; align-items: center; justify-content: center;">
    <button type="button" class="btn btn-primary start" style="margin-right: 10px;">Start</button>
    <button type="button" class="btn btn-primary save" disabled>Save score</button>
</div>

<div>
    <a href="#/games/scoreboard">Scoreboard</a>
</div>


{{> footer}}